<!DOCTYPE html>
<html>
  <head>
    <title>Louder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('fav.ico') %>
    <div class="logo">
      <%= image_tag('louder.svg')  %>
      <p>Louder</p>
    </div>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'synth' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
